<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <title>Daily Quiz</title>
  </head>
  <body>
    <h1>오늘의 질문들!!</h1>
    {% for quiz in quizs %}
    <table>
      <tr>
        <td style="width: 10%; padding-right: 5px">
          {{ quiz["quiz_question"] }}
        </td>
        <td style="padding-left: 5px">{{ quiz["quiz_answer"] }}</td>
      </tr>
    </table>
    {% endfor %}
  </body>
</html>
